:root {
    /* Define viewport width (vw) values as variables */
    --background-height: 100vh;
    --ellipse-width: 309.03vw;
    --ellipse-height: 309.03vw;
    --ellipse-top: 34.70vw;
    --ellipse-left: -115.00vw;
    --backline-width: 61.91vw;
    --backline-height: 61.91vw;
    --backline-top: -34.52vw;
    --backline-left: 0vw;
    --yellow-halo-width: 61.91vw;
    --yellow-halo-height: 61.91vw;
    --yellow-halo-top: 34.94vw;
    --yellow-halo-left: 0vw;
    --red-halo-width: 61.91vw;
    --red-halo-height: 61.91vw;
    --red-halo-top: 35.37vw;
    --red-halo-left: 27.21vw;
}

.background {
    height: var(--background-height);
    background: radial-gradient(circle at top, #121111 0%, #000 70%);
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        top: 50%;
    }
}

.background::before {
    content: "";
    position: absolute;
    width: var(--ellipse-width);
    height: var(--ellipse-height);
    top: var(--ellipse-top);
    left: var(--ellipse-left);
    background-color: var(--surface-color);
    border-radius: 50%;
    opacity: 1;
    z-index: 3;
}

.backline {
    position: absolute;
    width: var(--backline-width);
    height: var(--backline-height);
    top: var(--backline-top);
    left: var(--backline-left);
    border: 1px solid lime;
    border-radius: 50%;
    opacity: 1;
    transform: rotate(0deg);
}

.yellow-halo {
    position: absolute;
    width: var(--yellow-halo-width);
    height: var(--yellow-halo-height);
    top: var(--yellow-halo-top);
    left: var(--yellow-halo-left);
    border-radius: 50%;
    border: 1px solid var(--brand-color-primary);
    background-color: var(--brand-color-primary);
    filter: blur(240px);
}

.red-halo {
    position: absolute;
    width: var(--red-halo-width);
    height: var(--red-halo-height);
    top: var(--red-halo-top);
    left: var(--red-halo-left);
    border-radius: 50%;
    border: 1px solid var(--brand-color-secondary);
    background-color: var(--brand-color-secondary);
    filter: blur(240px);
}
