:root {
    /* Define pixel values as variables */
    --background-height: 100vh;
    --ellipse-width: 5000px;
    --ellipse-height: 5000px;
    --ellipse-top: 561px;
    --ellipse-left: -1860px;
    --backline-width: 1000px;
    --backline-height: 1000px;
    --backline-top: -558px;
    --backline-left: 0;
    --yellow-halo-width: 1000px;
    --yellow-halo-height: 1000px;
    --yellow-halo-top: 565px;
    --yellow-halo-left: 0;
    --red-halo-width: 1000px;
    --red-halo-height: 1000px;
    --red-halo-top: 572px;
    --red-halo-left: 440px;
}

.background {
    height: var(--background-height);
    background: radial-gradient(circle at top, #333 0%, #000 70%);
    position: relative;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    width: var(--ellipse-width);
    height: var(--ellipse-height);
    top: var(--ellipse-top);
    left: var(--ellipse-left);
    background-color: var(--surface-color);
    border-radius: 50%;
    opacity: 1;
    z-index: 3;
}

.backline {
    position: absolute;
    width: var(--backline-width);
    height: var(--backline-height);
    top: var(--backline-top);
    left: var(--backline-left);
    border: 1px solid lime;
    border-radius: 50%;
    opacity: 1;
    transform: rotate(0deg);
}

.yellow-halo {
    position: absolute;
    width: var(--yellow-halo-width);
    height: var(--yellow-halo-height);
    top: var(--yellow-halo-top);
    left: var(--yellow-halo-left);
    border-radius: 50%;
    border: 1px solid var(--brand-color-primary);
    background-color: var(--brand-color-primary);
    filter: blur(240px);
}

.red-halo {
    position: absolute;
    width: var(--red-halo-width);
    height: var(--red-halo-height);
    top: var(--red-halo-top);
    left: var(--red-halo-left);
    border-radius: 50%;
    border: 1px solid var(--brand-color-secondary);
    background-color: var(--brand-color-secondary);
    filter: blur(240px);
}
