.button {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.primary.default {
    background: var(--text-color-primary);
    color: var(--background-color);
}

.primary.hover {
    background: var(--sunshine-gradient);
    color: var(--background-color);
}

.secondary.default {
    border: 2px var(--text-color-primary) solid;
    color: var(--text-color-primary);
}

.secondary.hover {
    border: 2px var(--brand-gradient-start) solid;
    color: var(--brand-gradient-start);
    /*border: 2px var(--sunshine-gradient) solid;*/
}